<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title><%= title %></title>
        <link rel="stylesheet" href="<%= appBaseUrl %>/styles/style.css">
    </head>
    <body>
        <div class="contents"></div>
        <script type="text/javascript" src="<%= appBaseUrl %>/scripts/bundle.js"></script>
    </body>
</html>